.LogInPage{
    background-image: url("/storage/images/Cover.jpg");
    // background-color: rgb(39,190,175);
    background-repeat: no-repeat;
    background-size: auto;
}
#LogoEndLogIn{
    width: 15%;
}
.lineInput{
    border-top:none;
    border-right:none;
    border-left:none;
}

