
// Body
$body-bg: #f5f8fa;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
// $font-family-sans-serif: "Gill Sans", sans-serif;
// $font-family-sans-serif: "Times New Roman", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #1f1e1e;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

.color-black{
    color:black;
}
.color-white{
    color:white;
}
.color-gray{
    color:gray;
}
.color-qrorpa{
    color:rgb(39,190,175);
}

.b-qrorpa{
    background-color:rgb(39,190,175);
}
.b-white{
    background-color:white;
}

.br-25{
    border-radius: 25px;
}
.br-30{
    border-radius: 30px;
}



.opacity-65{
    opacity: 0.65;
}
.opacity-85{
    opacity: 0.65;
}



.fsize-30{
    font-size: 30px;
}
.fsize-35{
    font-size: 35px;
}
.fsize-40{
    font-size: 40px;
}
.fsize-45{
    font-size: 45px;
}



.marginL-25{
    margin-left: 25px;
}
.marginL-30{
    margin-left: 30px;
}
.marginL-35{
    margin-left: 35px;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.7);
}


































